@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 20px;
}

.input {
  display: flex;
  align-items: center;
}

input {
  margin: 5px;
  padding: 3px;;
  width: 40px;
  text-align: center;
}

button {
  padding: 3px;
  margin: 5px;
}

.grid {
  box-shadow: 0px 0px 10px 5px #888888;
  width: 600px;
  height: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.grid-square {
  background: white;
  color: #f5f5f5;
}